**/runs/*
runs/*
misc/*
datasets/update_v2_laser_velocity_xz_cross_section_data/*
datasets/__pycache__/*
analysis/__pycache__/*
analysis/.ipynb_checkpoints/*
analysis/results/*
DiffusionSR.egg-info/*
logs/*
misc/*
*png
*npz
*ckpt 
*json
clean_extra_plots.py
setup.py